* {
    text-align: center;
}

body {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.heading, .error {
    font-family: Arial;
    margin-top:40vh;
    color: #EEEEEE;
}
.URL-input, .convert-button-mp3, .convert-button-mp4 {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 4px 4px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    max-width: none;
    min-height: 42px;
    min-width: 10px;
    padding: 3px 12px 3px;
    position: relative;
}
.URL-input:focus {
    border:4px #222;
}

.convert-button-mp4, .convert-button-mp3 {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .convert-button-mp4:hover, .convert-button-mp3:hover,
  .convert-button-mp4:focus, .convert-button-mp3:focus {
    opacity: .75;
  }
